body {
  background: url(/images/bg_blog_main.jpg) no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
}

#sidebar {
            background:url(/images/bg_blog_sidebar.jpeg);
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
            p,span,a {color: rgba(255, 255, 255, 1);}
}

.content {
            border-radius: 20px;
            padding: 30px 60px 30px 60px;
            background:rgba(255, 255, 255, 0.8) none repeat scroll !important;
         }


#lv-container {
       border-radius: 20px;
       padding: 30px 60px 30px 60px;
       background:rgba(147, 185, 224, 1) none repeat scroll !important;
    }

#mydivshow {
        opacity: 0;
    }
